{% extends "base.html" %}
{% block content %}
<div class="login-wrapper">
  <h1>Reset Password for {{ userid }}</h1>
  <form method="post">
    {% csrf_token %}
    <label class="form-label">New Password</label>
    <input type="password" name="password" class="form-control" required>

    <label class="form-label">Confirm Password</label>
    <input type="password" name="confirm_password" class="form-control" required>

    <button type="submit" class="btn-login">Update Password</button>
  </form>
</div>
{% endblock %}
